body {
  background-color: #f9eafd;
}

header {
  background-color: #096a55;
  padding: 20px 0;
  text-align: center;
}

h1 {
  font-family: "Courier New";
  font-size: 1.8em;
  color: #ea7121;
  padding-left: 6%;
}

.paragraph {
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 15px 0;
  color: #817f7f;
  padding-left: 6%;
  padding-right: 6%;
}


section {
  padding: 20px;
}

#about {
  margin-left: -15px;
  margin-right: -15px;
  display: block;
}

#about-info {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}

#header-page {
  margin-bottom: 38px;
  display: block;
}

#about-institucional {
  position: relative;
  min-height: 1px;
  padding-left: 250px;
  padding-right: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#about-institucional .box-mission {
  background-color: #33c390;
  background-image: url(https://www.nutrifoodcare.com.br/assets/img/about/missao-bg.png);
}

#about-institucional .box-vision {
  background-color: #ea7121;
  background-image: url(https://www.nutrifoodcare.com.br/assets/img/about/visao-bg.png);
  background-position: left bottom;
}

#about-institucional .box-values {
  background-color: #6a0966;
  background-image: url(https://www.nutrifoodcare.com.br/assets/img/about/valores-bg.png);
}


#about-institucional [class*="box-"] {
  height: 280px;
  width: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  color: #ffffff;
  overflow: hidden;
  background-repeat: no-repeat !important;
  text-align: center;
  -webkit-box-direction: normal;
}

.color {
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 5px 0;
}

.foto-gallery {
  text-align: center;
  
}

.foto-gallery img {
  margin: 2px;
  width: 200px;
  height: 230px;
  padding-left: 6%;
}

