body {
  background-color: #f9eafd;
}

h1 {
  font-family: "Courier New";
  font-size: 1.8em;
  color: #ea7121;
  padding-left: 7%;
  padding-top: 2%;
}

.paragraph {
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 15px 0;
  color: #817f7f;
  padding-left: 7%;
  padding-right: 6%;
  position: relative;
}

.recipe-gallery {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-left: 3%;
  margin-bottom: 2%;
}

.recipe-gallery img {
  width: 300px;
  height: 350px;
  border: #ea7121 dashed;
}

.recipe-gallery figcaption { 
  background-color: #d4d2d0;
  color: #67368f;
  font-size: 1.4em;
  padding: 2px;
  text-align: center;
}

a {
  text-decoration: none;
}

.link a {
  font-weight: bold;
  color: #32f3f3;
}





