body {
  background-color: #f9eafd;
}

h1 {
  font-family: "Courier New";
  font-size: 1.8em;
  color: #ea7121;
  padding-left: 7%;
  padding-top: 2%;
}

p {
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 15px 0;
  color: #817f7f;
  padding-left: 7%;
  padding-right: 6%;
}