* {
  margin: 0;
  padding: 0;
}
/*
320px - 500px: dispositivos móveis.
501px - 768px: iPads, tablets.
769px - 1024px: telas pequenas, laptops.
1025px - 1440px: 
1441px - 2560px:
*/
@media screen and (min-width: 501px) and (max-width: 768px) {
  /*HOME*/
  header {
    padding: 12px;
  }
  nav li {
    text-align: center;
    list-style-type: none;
    margin-top: 10px;
  }
  .logo {
    float: left;
  }
  .slider {
    height: 200px; 
  }
  .home {
    border-radius: 10px;
  }
  .page-home h1 {
    font-size: 24px; 
  }
  .page-home p {
    font-size: 16px; 
  }
  .gallery {
    text-align: center;
  }
  
  .gallery img {
    margin: 10px;
    width: 150px;
    height: 200px;
  }
  .centered-list li {
    color: #000000;
    text-align: center;
    padding-top: 35px;
    font-size: 18px;
    font-weight: bold;
    display: inherit;
  }
  /*Quem somos*/
  .foto-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
    font-size: 12px;
    text-align: center;  
  }
  
  .foto-gallery img {
    margin: 2px;
    max-width: 84px;
    max-height: 150px;
  }
  #about-institucional {
    max-width: 120px;
    max-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    text-align: center;
  }
  /*RECEITAS*/
  .recipe-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
    font-size: 12px;
    text-align: center;
  }
  
  .recipe-gallery img {
    border: #ea7121 dashed;
    margin: 2px;
    max-width: 150px;
    max-height: 120px;
    
  }
  .banner {
    background-position: center;
    max-height: 200px;  
  }
  .title {
    font-size: 12px;
    margin-top: 10px;
  }
  .card {
    max-width: 300px;
    max-height: 900px;
    padding: 10px;


  }
  html {
    font-size: 0.9rem;
  }
  /*CONTATO*/
form {
  width: 300px;
}

}

@media screen and (min-width: 320px) and (max-width: 500px) {
  /*HOME*/
  
  header {
    background-color: #096a55; 
    padding: 10px; 
  }
  nav li {
    text-align: center;
    list-style-type: none;
    margin-top: 10px;
  }
  nav a {
    text-decoration: none;
    display: inline-block;
    font-size: 14px; 
  }
  .logo {
    float: left;
    margin-top: 6%;
  }
  .logo img {
    height: 80px; 
  }
  .slider {
    height: 200px; 
  }
  .home {
    background: linear-gradient(to right, #50947d, #83daae);
    border-radius: 10px;
  }
  .page-home h1 {
    
    font-size: 24px; 
  }
  .page-home p {
    font-size: 16px; 
  }
  
  .gallery {
    text-align: center;
  }
  
  .gallery img {
    margin: 5px;
    width: 90px;
    height: 150px;
  }
  .background h2 {
    font-size: 25px;
  }
  .centered-list li {
    color: #000000;
    text-align: center;
    padding-top: 25px;
    font-size: 16px;
    font-weight: bold;
    display: inherit;
  }
  /*Quem somos*/
  .foto-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
    font-size: 9px;
    text-align: center;  
  }
  
  .foto-gallery img {
    margin: 2px;
    max-width: 90px;
    max-height: 100px;
  }
  #about-institucional {
    max-width: 100px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-align: center;
  }
  /*RECEITAS*/
  .recipe-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
    font-size: 9px;
    text-align: center;
  }
  
  .recipe-gallery img {
    border: #ea7121 dashed;
    margin: 2px;
    max-width: 100px;
    max-height: 70px;
    
  }
  .banner {
    background-position: center;
    max-height: 200px;  
  }
  .title {
    font-size: 12px;
    margin-top: 10px;
  }
  .card {
    max-width: 300px;
    max-height: 900px;
    padding: 10px;


  }
  html {
    font-size: 0.8rem;
  }

/*CONTATO*/
form {
  width: 250px;
}
 
}